.navigation-item {
  display: grid;
  gap: 10px;
}

.navigation-item:not(.navigation-item--has-actions) {
  grid-template-columns: min-content auto;
}

.navigation-item--has-actions {
  grid-template-columns: min-content auto min-content;
}

.navigation-item__icon {
  align-items: center;
  background-color: #38525e;
  display: flex;
  font-size: 8px;
  height: 20px;
  justify-content: center;
  overflow: hidden;
  width: 20px;

  img {
    aspect-ratio: 1;
    width: 40%;
  }
}

.navigation-item__text {}

.navigation-item__actions {}
