@import "./init.css";

/* generic */
@import "./generic/motion.css" layer(generic);

/* elements */
@import "./elements/layout.css" layer(elements);
@import "./elements/typography.css" layer(elements);

/* layouts */
@import "./layouts/page-width.css" layer(components);

/* components */
@import "./components/header.css" layer(components);
@import "./components/navigation.css" layer(components);
@import "./components/navigation-item.css" layer(components);
@import "./components/tours.css" layer(components);
@import "./components/tour-card.css" layer(components);
